@font-face {
  font-family: SqueakyChalkSound;
  src: url(../fonts/SqueakyChalkSound.ttf);
}

.slider.slider-vertical{
	width: 150px;
}
.slider.slider-vertical .slider-track {
    width: 150px;
	left: 5px;
}
.slider-selection {
	background: #BABABA;
}
.slider-handle{
	width: 160px;
}

#matchId {
    padding: 5px;
    font-size: 32px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-decoration: underline;
}

* {
	font-family: SqueakyChalkSound
}

body {
	background-color: #212121;
  background-image: url("/background.jpg");
  background-size: cover;
  background-position: center center;
	color: white;
}

input {
    background-color: transparent !important;
    border: 0px !important;
    border-bottom: 2px solid white !important;
		box-shadow: none !important;
		color: white !important;
}

input:hover {
    background-color: transparent !important;
    border: 0px !important;
    border-bottom: 2px solid white !important;
		box-shadow: none !important;
		color: white !important;
}

select:focus {
    background-color: transparent !important;
    border: 0px !important;
    border-bottom: 2px solid white !important;
		box-shadow: none !important;
		color: white !important;
}

select {
    background-color: transparent !important;
    border: 0px !important;
    border-bottom: 2px solid white !important;
		box-shadow: none !important;
		color: white !important;
}

select:hover {
    background-color: transparent !important;
    border: 0px !important;
    border-bottom: 2px solid white !important;
		box-shadow: none !important;
		color: white !important;
}

select:focus {
    background-color: transparent !important;
    border: 0px !important;
    border-bottom: 2px solid white !important;
		box-shadow: none !important;
		color: white !important;
}
